<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	


<link rel="stylesheet" type="text/css"
	th:href="@{/css/consultarPelicula/style.css}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
	
	
	<!-- COMPONENTE -->
	<script type="module" th:src="@{/comment/build/comment-movie.esm.js}"></script>
  <script nomodule th:src="@{/comment/build/comment-movie.js}"></script>
  <link rel="stylesheet" type="text/css"
	th:href="@{/css/insertarComentario/styleComment.css}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <script type="text/javascript" th:src="@{/js/consultarPelicula.js}" /></script>
  
<!-- SNACKBAR -->
<link rel="stylesheet" type="text/css" th:href="@{/css/snackbar/snackbarStyle.css}">

</head>
<body>
<head>
<h1>Película</h1>
</head>
<div class="container-fluid" style="width: 100%;">

	<!-- Datos de la película -->
	<div class="row content">
		<!-- IZQUIERDA -->
		<div style="margin: 10px;">
			<div class="col-sm-3 sidenav">
				<div>
					<img class="image" th:src="${movie.imageURL}">
				</div>

			</div>

			<!-- DERECHA -->
			<div class="col-sm-9">
				<div>
					<i class="material-icons">&#xe88f;</i>Título
					<h4 th:text="${movie.name}"></h4>
				</div>
				<hr style="border: 1px solid black;">
				<div>
					<i class="material-icons">&#xe8df;</i>Año:
					<h4 th:text="${movie.year}"></h4>
				</div>
				<hr style="border: 1px solid black;">
				<div>
					<i class="material-icons" style='font-size: 24px'>&#xe83a;</i>Rating:
					<h4 th:text="|${movie.rating}/5.0|"></h4>
				</div>
				<hr style="border: 1px solid black;">
				<div>
					<i class="material-icons">&#xe873;</i>Descripción:
					<p th:text="${movie.description}"></p>
				</div>
				<hr style="border: 1px solid black;">

			</div>
		</div>
	</div>

	<hr>

	<my-comment-component th:movieid="${movie.id}"></my-comment-component>
	
	<div id="responseFragment"></div>
	
	<hr>
	<!-- COMENTARIOS -->
	<p>
		<span class="badge" th:text="${movie.comments.size()}"></span>
		Comentarios:
	</p>
	<br>
	<div class="row">

		<div th:each="comment : ${movie.comments}">
			<div class="col-sm-2 text-center">

				<img src="/images/users.png"  height="65" width="65"
					alt="Avatar">
			</div>
			<div class="col-sm-10">
				<div>
					<h4 th:text="${comment.authorName}"></h4>
					<!--  <h3 th:text="${comment.rating}"></h3> -->
					<th:block th:if="${comment.rating!=0}" th:each="i: ${#numbers.sequence(0, comment.rating-0.1)}">
						<i class="material-icons" style='font-size: 16px'>&#xe838;</i>
	
					</th:block>
					<small th:text="${#dates.format(comment.date, 'dd-MMM-yyyy')}"></small>
				</div>
				<p th:text="${comment.comment}"></p>
				<br>
			</div>
			<hr>
		</div>
	</div>

</div>

</body>
</html>