<!DOCTYPE html>
<html>
<head>
<title>Noticias</title>
<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" /> -->
<link
	href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,4
00italic,500,500italic,700,700italic,900italic,900'
	rel='stylesheet' type='text/css' />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" th:href="@{/images/icons/favicon.png}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/fonts/fontawesome-5.0.8/css/fontawesome-all.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/animate/animate.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/css-hamburgers/hamburgers.min.css}">
<!--===============================================================================================-->
<!-- <link rel="stylesheet" type="text/css"
	th:href="@{/vendor/animsition/css/animsition.min.css}"> -->
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" th:href="@{/css/util.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
<!--===============================================================================================-->
</head>
<body class="animsition">

	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!--
			<div class="topbar">
				<div class="content-topbar container h-100">
					<span style="right: 0;"> Proyecto final Desarrollo web
						basado en servicios y componentes. </span>
				</div>
			</div>
			-->

			<!--  -->
			<div class="wrap-logo container">
				<h1>Noticias</h1>
			</div>

			<!--  -->
			<div class="wrap-main-nav">
				<div class="main-nav">
					<!-- Menu desktop -->
					<nav class="menu-desktop">

						<ul class="main-menu">
							<li class="mega-menu-item"><a href="#">Noticias</a>
							</li>

							<li class="mega-menu-item"><a href="/">Películas
							</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>

</body>
</html>